@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    background-color: #E5E5E5;
}
h1{
    font-size: 40px;
    color: #000000;
    transition: .3s;
}
h1:hover{
    color: #f06db9;
}
h2{
    font-size: 30px;
}
h2:hover{
    color: #00B89F;
}
a{  
    text-decoration: none;
}
p{
    color: #3E3E3E;
}
.container{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 100px;
}

/*--Section 1 Hero section end--*/

.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
.hero-title{
    margin-left: 55px;
}
.heading{
    border-left: 5px solid #F471FB;
    
}
.heading h1{
    margin-left: 8px;
}
.color{
    color: #00B89F;
}
.hero-img{
width: 365px;
padding-left: 35%;
margin-right: 78px;
}
.link-btn{
    background-image: linear-gradient(45deg, #00B89F, #e59eeb);
    padding: 8px 25px;
    border-radius: 5px;
    color: rgb(95, 94, 94);
    font-weight: 600;
    transition: 0.3s;
}
.link-btn:hover{
    background-image: linear-gradient(45deg, #9cdfd6, #ed91f3);
    
}
small{
    margin-top: 15px;
}
/*--Section 2  section start--*/
.card-section{
    width: 1128px;
    height: 494;
}
.card-heading{
text-align: center;
}
.card-heading:hover{
    color: #f06db9;
}
.card-img{
    width: 141px;
    height: 141px;
    margin-left: 20px;
}
.card-flexible{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 360px;
    height: 376px;
    border-radius: 10px;
    
}
.card-title{
    width: 315px;
    height: 153px;
    padding: 35px;
}
.card-color-1{
    background-image: linear-gradient(90deg, #d4d0d0, #f0e7e7, #efc0f3);
}
.card-color-2{
    background-image: linear-gradient(90deg, #d4d0d0, #f0e7e7, #c0e5e9);
}
.card-color-3{
    background-image: linear-gradient(90deg, #d4d0d0, #f0e7e7, #f5ee90);
}
/*--Section 2  section end--*/


/*--Section 3 section start--*/
.team-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}
.team-img{
    width: 400px;
    height: 400px;
}
.team-part{
    width: 654px;
    height: 311px;
}
/* --Section 3 section end--*/

/* --Section 5  section start--*/
.app-part{
    display: flex;
    justify-content: space-around;
   width: 80%;
   margin: 0 auto;   
}
.app-part::before{
    content: '';
    position: absolute;
   top:0;
   left:0;
   color: rebeccapurple;
    height: 100px;
    width: 100px;
}
.app-heading:hover{
    color: #f06db9;
}
.app-title-part{
    width: 525px;
    height: 333px;
}
.app-img{
    width: 338px;

}
.link-button{
    background-image: linear-gradient(45deg, #84dbd0, #ed91f3);
    padding: 8px 25px;
    border-radius: 5px;
    color: rgb(90, 89, 89);
    font-weight: 600;
    transition: 0.3s;
}
.link-button:hover{
    background-image: linear-gradient(45deg, #9f9ee9, #91cff3);
    

}


/*--Section 5  section end--*/
footer{
    text-align: center;
    background-color: #000000;
    margin: 0 auto;
    padding: 25px;
}
footer h3{
    color: #ffffff;
    font-size: 30px;
    font-family: lobster;
    font-weight: 700;
    margin: 0;
}
footer h3 span{
    color: #ff5959;
}
footer p{
    color: #d9dbe1;
    
}

/*--Section 5 section start--
--Section 5 section end--